DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.suo
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.Core/bin/[^.]*
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.Core/obj/[^.]*
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.Examples/bin/[^.]*
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.Examples/obj/[^.]*