DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.suo
*/*/bin/[^.]*
*/*/obj/[^.]*
*/*/*.pidb
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.userprefs
DevelopStuff.EvolveStuff/DevelopStuff.EvolveStuff.usertasks